@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Josefin Sans;
    font-weight: 300;
    src: url('./fonts/JosefinSans-Light.ttf');
  }
  @font-face {
    font-family: Josefin Sans;
    font-weight: 400;
    src: url('./fonts/JosefinSans-Regular.ttf');
  }
  @font-face {
    font-family: Poppins;
    font-weight: 200;
    src: url('./fonts/Poppins-ExtraLight.ttf');
  }
  @font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url('./fonts/Poppins-Regular.ttf');
  }
  @font-face {
    font-family: Poppins;
    font-weight: 600;
    src: url('./fonts/Poppins-SemiBold.ttf');
  }
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-xl;
  }
  p {
    @apply text-lg;
  }
}
