.work {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.work-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}
.feature-box__icon {
  margin-bottom: 0.5rem;
}
.feature-box {
  font-size: 1.5rem;
  height: 35rem;
  width: 20rem;
  text-align: center;
  border: 1px solid var(--text-color);
  border-radius: 2.5px;
  overflow: hidden;
}
.feature-box__icon--1 {
  background-image: url('https://ik.imagekit.io/3dv5nkw89t3/cryptobase_JaqZqJZ04.png?ik-sdk-version=javascript-1.4.3&updatedAt=1672252235138');
  background-size: cover;
  width: 100%;
  height: 40%;
  margin-bottom: 1.5rem;
}
.feature-box__icon--2 {
  background-image: url('https://ik.imagekit.io/3dv5nkw89t3/newyorker_v1jF9CSKE.png?ik-sdk-version=javascript-1.4.3&updatedAt=1672252235323');
  background-size: cover;
  width: 100%;
  height: 40%;
  margin-bottom: 1.5rem;
}
.feature-box__icon--3 {
  background-image: url('https://ik.imagekit.io/3dv5nkw89t3/shopify_-yzDayJ6e.png?ik-sdk-version=javascript-1.4.3&updatedAt=1672252235058');
  background-size: cover;
  width: 100%;
  height: 40%;
  margin-bottom: 1.5rem !important;
}
.heading-tertiary {
  color: #ba265c;
  font-weight: 600;
  margin: 0px 1rem;
  margin-bottom: 1.5rem !important;
  font-size: 1.5rem;
}
.feature-box__text {
  font-weight: 400;
  line-height: 1.7;
  margin: 0px 1rem;
  font-size: var(--p-font);
  color: var(--text-color);
  margin-bottom: 1.5rem !important;
}
