.writings {
  min-height: 75vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.writings .heading {
  font-size: 30px;
}

.writings-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.story {
  width: 90%;
  max-width: 950px;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 3rem;
  padding-left: 6rem;
  font-size: var(--p-font);
  border-radius: 2.5px;
  border: 1px solid var(--text-color);
  cursor: pointer;
  position: relative;
}
.story:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  bottom: -5px;
  left: 0px;
  transform: scaleX(0);
  background: var(--main-color);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.story:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.story-shape {
  width: 15rem;
  height: 15rem;
  float: left;

  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);

  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);

  transform: translateX(-3rem);

  position: relative;
}

.story-image {
  height: 100%;
  transform: translate(-5rem) scale(1);
  transition: all 0.2s;
}

.story-text h2 {
  color: var(--main-color);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.story-text p {
  color: var(--text-color);
  font-size: var(--p-font);
}
